{
    "extends": "ebay",
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "ignorePatterns": ["**/lib/*"],
    "rules": {
        "space-before-function-paren": [
            "error",
            {
                "asyncArrow": "always"
            }
        ]
    }
}